header {
    
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #EF3E36;
    color: white;
}

header h1 {
    margin: 0;
}

header ul {
    display: flex;
    padding: 0;
    align-items: center;
}

header ul li {
    list-style-type: none;
    margin-left: 10px;
}

header ul li:hover {
    cursor: pointer;
}