/* CSS FOR FOOTER SECTION*/

footer {
    background-color: #EF3E36;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    color: #fff
    
}

h4,h5 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}



