body {
    background-color:  #F4D4B9;
}

.portfolio h1 {
    color: #EF3E36
}


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center; 
}
  
.card {
    background-color: #322A26;
    border-radius: 8px;
    padding: 20px;
    max-height: 300px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
  
  
.card img {
    width: 100%;
}
  
.card h3 {
    color: #fff;
    font-size: 1.5rem;
}


.repo-btn,
.live-btn {
    justify-content: center;
    margin-top: 15px;
    background-color: #EF3E36;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.repo-btn:hover,
.live-btn:hover {
    background-color: #F4D4B9;
}

